# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcuserstate
DerivedData/
build/
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved.bak

# Fastlane / CI
fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/test_output

# Editors
.idea/
*.swp
.vscode/

# Scratch
tmp/
